@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    justify-content: center ;
    align-items: center;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1510070009289-b5bc34383727?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Fraunces", serif;
}

.Container {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.373);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.527);
    padding: 20px;
    display: grid;
    row-gap: 20px;
}

.Heading {
    text-align: center;
    text-transform: uppercase;
}

.form {
    display: grid;
    row-gap: 10px;
}

input {
    border: 0;
    border-radius: 10px;
    height: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.373);
}

.buttons {
    display: flex;
    column-gap: 20px;
    
}

.YellowButton {
    background-color: rgb(255, 230, 4);
   color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.373);
    border: 0;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    font-weight: 700;
}

.YellowButton:hover {
    background-color: rgba(225, 255, 0, 0.671);
   box-shadow: 0px 0px 0.5px 0.5px white ;    
   color: white;
}

.WhiteButton {
    background-color: rgba(255, 230, 4, 0.182);
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.373);
    border: 0;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    font-weight: 500;
}

.WhiteButton hover {
    background-color: rgba(255, 230, 4, 0.182);
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.373);
  
}